In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [57]:
athlet = open('/mnt/HC_Volume_18315164/home-jupyter/jupyter-l-lev/athlete_events.csv')
#Открытие файла

In [58]:
container = []
for row in athlet:
    container.append(row.split(','))
data = pd.DataFrame(container)
#Функция, которая делит строки по запятой

In [59]:
data = data.applymap(lambda x: x.replace('\n', '').replace(';', '').replace('""', '').replace('"', '') if x is not None else x)
#Приведение дааных к приемлемому виду

In [60]:
data.columns = data.iloc[0]
data = data[1:]

In [61]:
data = data.drop(data.columns[[15, 16, 17, 18]], axis=1)

In [62]:
data = data.drop_duplicates()

In [63]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NA
2,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NA
3,3,Gunnar Nielsen Aaby,M,24,NA,NA,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NA
4,4,Edgar Lindenau Aabye,M,34,NA,NA,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271112,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NA
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,Ski Jumping Men's Large Hill,Individual
271114,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,Ski Jumping Men's Large Hill,Team
271115,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NA
271116,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NA

In [64]:
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')
data['Height'] = pd.to_numeric(data['Height'], errors='coerce')
data['Weight'] = pd.to_numeric(data['Weight'], errors='coerce')
#Все недопустимые символы меняю на пустое значение

In [65]:
atl_df = data[(data['Event'] == "Athletics Men's 100 metres")]
#Делаем выборку

In [66]:
atl_df['Medal'] = atl_df['Medal'].replace({'Gold': 1, 'Silver': 2, 'Bronze': 3, None: 0, 'NA': 0})
#Заменяем значения в столбце медали на 1 и 0

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
exel_df = atl_df[(atl_df['Medal'] == 1)]
#Берем тольок тех, кто заработал золотые медали(1)

In [69]:
exel_df = exel_df.loc[:, ["Age", "Height", 'Weight', "Year", "Medal", "Name"]]
#Отбираем только нужны столбцы для дальнейшей работе

In [70]:
exel_df = exel_df.sort_values(by='Year', ascending=True)
#Сортировка по годам

In [71]:
exel_df.to_excel('файл.xlsx', index=False)

In [72]:
exel_df = exel_df.drop(exel_df.index[-1], axis=0)

In [73]:
exel_df

0        Age  Height  Weight  Year  Medal                             Name
32334   21.0   183.0    66.0  1896      1          Thomas Edmund Tom Burke
106739  21.0   167.0    58.0  1900      1          Frank Washington Jarvis
88286   23.0   167.0    64.0  1904      1    Charles Archibald Archie Hahn
88288   25.0   167.0    64.0  1906      1    Charles Archibald Archie Hahn
255911  19.0   170.0    61.0  1908      1     Reginald Edgar Reggie Walker
45843   22.0   182.0    73.0  1912      1                 Ralph Cook Craig
179976  19.0   172.0    75.0  1920      1  Charles William Charley Paddock
916     24.0   183.0    75.0  1924      1          Harold Maurice Abrahams
261083  19.0   170.0    56.0  1928      1            Percy Alfred Williams
179558  22.0   178.0    71.0  1936      1      James Cleveland Jesse Owens
55694   25.0   178.0    69.0  1948      1         William Harrison Dillard
198893  21.0   173.0    67.0  1952      1              Lindy John Remigino
163979  21.0   186.0    75.0  1956      1                 Bobby Joe Morrow
91484   23.0   182.0    71.0  1960      1                       Armin Hary
92485   21.0   183.0    86.0  1964      1             Robert Lee Bob Hayes
96176   22.0   183.0    81.0  1968      1              James Ray Jim Hines
26262   22.0   183.0    80.0  1972      1        Valeriy Pylypovych Borzov
45943   25.0   187.0    90.0  1976      1          Hasely Joachim Crawford
258700  28.0   183.0    86.0  1980      1               Allan Wipper Wells
137690  23.0   188.0    80.0  1984      1     Frederick Carlton Carl Lewis
137694  27.0   188.0    80.0  1988      1     Frederick Carlton Carl Lewis
41330   32.0   189.0    94.0  1992      1          Linford Ecerio Christie
12654   28.0   183.0    82.0  1996      1                   Donovan Bailey
83953   26.0   176.0    80.0  2000      1                   Maurice Greene
76918   22.0   186.0    80.0  2004      1          Justin Alexander Gatlin
24878   21.0   196.0    95.0  2008      1               Usain St. Leo Bolt
24881   25.0   196.0    95.0  2012      1               Usain St. Leo Bolt

In [36]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.utils import resample
import numpy as np

# Объединение дубликатов по годам с помощью среднего значения
exel_df = exel_df.groupby('Year').mean().reset_index()

# Интерполяция отсутствующих значений
exel_df.interpolate(method='linear', inplace=True)

# Выбор признаков и целевой переменной
X = exel_df[['Year']]
y = exel_df['Age']

# Создание и обучение модели линейной регрессии
model = LinearRegression()
model.fit(X, y)

# Предсказание для 2016 года
prediction = model.predict([[2016]])

# Расчет доверительного интервала
predictions = []
for _ in range(1000):  
    sample_X, sample_y = resample(X, y)
    model.fit(sample_X, sample_y)
    predictions.append(model.predict([[2016]]))

confidence_interval = np.percentile(predictions, [2.5, 97.5])  # Доверительный интервал 95%

print(f"Предсказание возраста в 2016 году: {prediction[0]}")
print(f"95% доверительный интервал: {confidence_interval}")

Предсказание возраста в 2016 году: 25.69662394112273
95% доверительный интервал: [23.25095933 28.33167276]

In [55]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.utils import resample
import numpy as np

# Объединение дубликатов по годам с помощью среднего значения
exel_df = exel_df.groupby('Year').mean().reset_index()

# Интерполяция отсутствующих значений
exel_df.interpolate(method='linear', inplace=True)

# Выбор признаков и целевой переменной
X = exel_df[['Year']]
y = exel_df['Height']

# Создание и обучение модели линейной регрессии
model = LinearRegression()
model.fit(X, y)

# Предсказание для 2016 года
prediction = model.predict([[2016]])

# Расчет доверительного интервала
predictions = []
for _ in range(1000):  
    sample_X, sample_y = resample(X, y)
    model.fit(sample_X, sample_y)
    predictions.append(model.predict([[2016]]))

confidence_interval = np.percentile(predictions, [2.5, 97.5])  # Доверительный интервал 95%

print(f"Предсказание роста в 2016 году: {prediction[0]}")
print(f"95% доверительный интервал: {confidence_interval}")

Предсказание роста в 2016 году: 190.69345451252542
95% доверительный интервал: [186.17120719 194.47953948]

In [74]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.utils import resample
import numpy as np

# Объединение дубликатов по годам с помощью среднего значения
exel_df = exel_df.groupby('Year').mean().reset_index()

# Интерполяция отсутствующих значений
exel_df.interpolate(method='linear', inplace=True)

# Выбор признаков и целевой переменной
X = exel_df[['Year']]
y = exel_df['Weight']

# Создание и обучение модели линейной регрессии
model = LinearRegression()
model.fit(X, y)

# Предсказание для 2016 года
prediction = model.predict([[2016]])

# Расчет доверительного интервала
predictions = []
for _ in range(1000):  
    sample_X, sample_y = resample(X, y)
    model.fit(sample_X, sample_y)
    predictions.append(model.predict([[2016]]))

confidence_interval = np.percentile(predictions, [2.5, 97.5])  # Доверительный интервал 95%

print(f"Предсказание веса в 2016 году: {prediction[0]}")
print(f"95% доверительный интервал: {confidence_interval}")

Предсказание веса в 2016 году: 90.83508269327342
95% доверительный интервал: [86.65607515 95.15945807]